<% if @user %>
  <h2 class="header">Your GPA for <%= @semester.name %>: </h2>
  <h3 class="header"><%= @gpa.round(2) %></h3>
    <div class="back-button">
      <%= link_to 'Back', "/enrollments", class: "button" %>
    </div>
<% else %>
  <% if @semester_enrollments.count == 0 %>
    <h4>There are no enrollments this semester!</h4>
  <% else %>  
    <h1 class="header">Enrollment Counts</h1>
      <table class="table">
        <thead>
          <tr>
            <th class="header">Course Title</th>
            <th class="header">Enrollments</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>
            <tr>
              <td><%= enrollment.course.title %></td>
              <td><%= enrollment.course.enrollments.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <div class="back-button">
          <%= link_to 'Back', "/semesters", class: "button" %>
        </div>
  <% end %>    
<% end %>

