<% if current_user.role =='Teacher' %>
	<h1>My Courses</h1>
		<table>
			<thead>
				<tr>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				<% @teacher_courses.each do |course| %>
					<tr>
						<td><%= link_to course.title, course_path(course) %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	<h1>Other Courses</h1>
		<table>
			<thead>
				<tr>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				<% @not_teacher_courses.each do |course| %>
					<tr>
						<td><%= course.title %></td>
					</tr>
				<% end %>
			</tbody>
	</table>

<% elsif current_user.role == 'Student'%>
	<h1>Courses Offered</h1>
		<table>
			<thead>
				<tr>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				<% @all_courses.each do |course| %>
					<tr>
						<td><%= course.title %></td>
					</tr>
				<% end %>
			</tbody>
	</table>

<% else %>
	<h1>Courses</h1>
		<table>
			<thead>
				<tr>
					<th>Course Title</th>
				</tr>
			</thead>
			<tbody>
				<% @all_courses.each do |course| %>
					<tr>
						<td><%= link_to course.title, course_path(course) %></td>
						<td><%= course.semester.name %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
<% end %>

<%= link_to 'Back', "users/#{@user.id}" %>
