<h1>Students in <%= @course.title %></h1>	

<table>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Nauman</th>
		</tr>
	</thead>

	<tbody>
		<% @students.each do |student| %>
		<% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
			<tr>
				<td><%= student.first_name %></td>
				<td><%= student.last_name %></td>
				<td><%= @enrollment.grade %></td>
				<td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
			</tr>
		<% end %>
	</tbody>
</table>
