<% if @user.role == 'Administrator' %>
  <h5 class="average">Average grade for <%= @course.title + " " %>(<%= @course.semester.name %>) is: </h5>
  <h7 class="average1"><%= @average %></h7>
  <h2 class="header">Course Roster</h1>
    <table class="table">
    <div class="header"><%= paginate @students %></div>
      <thead>
        <tr>
          <th class="header">Full Name</th>
          <th class="header">Student ID</th>
          <th class="header">Grade</th>
          <th class="header">Edit</th>
          <th class="header">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
        <% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
          <tr>
            <td><%= student.full_name %></td>
            <td><%= student.id %></td>
            <td><%= @enrollment.grade %></td>
            <td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
            <td><%= link_to 'Remove', enrollment_path(@enrollment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <h5>Import Enrollments</h5>
    <%= form_tag import_enrollments_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= hidden_field_tag :course_id, @course.id %>
      <%= submit_tag "Import" %>
    <% end %>	

<% elsif @user.role == 'Teacher' %>
  <div class="row">
    <div class="large-6 columns">
      <h2 class="header">Course Roster</h1>
        <table class="table">
          <div class="header"><%= paginate @students %></div>
          <thead>
            <tr>
            <th class="header">Full Name</th>
            <th class="header">Student ID</th>
            <th class="header">Grade</th>
            <th class="header">Edit</th>
            <th class="header">Remove</th>
            </tr>
          </thead>
          <tbody>
            <% @students.each do |student| %>
              <% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
              <tr>
                <td><%= student.full_name %></td>
                <td><%= student.id %></td>
                <td><%= @enrollment.grade %></td>
                <td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
                <td><%= link_to 'Remove', enrollment_path(@enrollment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <h5>Import Enrollments</h5>
        <%= form_tag import_enrollments_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= hidden_field_tag :course_id, @course.id %>
          <%= submit_tag "Import" %>
        <% end %>
    </div>
    <div class="large-6 columns">
      <h2 class="header">Refrences</h1>			
        <table class="table">
          <thead>
            <th class="header">Download</th>
            <th class="header">File Name</th>
          </thead>
          <tbody>
            <tr>
              <% @course.refrences.each do |refrence| %>
                <td><%= image_tag refrence.image.thumb('400x200#').url if refrence.image_stored? %></td>
                <td><%= refrence.name %></td>
              <% end %>	
            </tr>  
          </tbody>
        </table>
      <%= link_to 'Add Refrence', new_course_refrence_path(@course) %>
    </div>
  </div>

<% else @user.role == 'Student' %>
  <div class="row">
    <div class="large-6 columns">
      <h2 class="header">Refrences</h1>			
      <table class="table">
        <thead>
          <tr>
            <th class="header">Download</th>
            <th class="header">File Name</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <% @course.refrences.each do |refrence| %>
            <td><%= image_tag refrence.image.thumb('200x100#').url if refrence.image_stored? %></td>
            <td><%= refrence.name %></td>
          <% end %>	
        </tr>
        </tbody>
      </table>
    </div>
  </div>
<% end %>


<div class="back-button">
  <%= link_to 'Back', courses_path, class: "button" %>
</div>
