<% if @user.role == 'Administrator' %>
	<h5 class="average">Average grade for <%= @course.title + " " %>(<%= @course.semester.name %>) is: </h3>
	<h7 class="average1"><%= @average %></h5>
	<h2 class="header">Course Roster</h1>
		<table class="table">
			<div class="header"><%= paginate @students %></div>
			<thead>
				<tr>
					<th class="header">Full Name</th>
					<th class="header">Student ID</th>
					<th class="header">Grade</th>
					<th class="header">Edit</th>
					<th class="header">Remove</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
						<tr>
							<td><%= student.full_name %></td>
							<td><%= student.id %></td>
							<td><%= @enrollment.grade %></td>
							<td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
							<td><%= link_to 'Remove', enrollment_path(@enrollment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
<% else @user.role == 'Teacher' %>
	<h2 class="header">Course Roster</h1>
		<table class="table">
			<div class="header"><%= paginate @students %></div>
			<thead>
				<tr>
					<th class="header">Full Name</th>
					<th class="header">Student ID</th>
					<th class="header">Grade</th>
					<th class="header">Edit</th>
					<th class="header">Remove</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
						<tr>
							<td><%= student.full_name %></td>
							<td><%= student.id %></td>
							<td><%= @enrollment.grade %></td>
							<td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
							<td><%= link_to 'Remove', enrollment_path(@enrollment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
<% end %>

<h5>Import Enrollments</h5>
		<%= form_tag import_enrollments_path, multipart: true do %>
			<%= file_field_tag :file %>
			<%= hidden_field_tag :course_id, @course.id %>
			<%= submit_tag "Import" %>
		<% end %>

<div class="back-button">
	<%= link_to 'Back', courses_path, class: "button" %>
</div>
