<% if @user == current_user && @user.role == 'Administrator' %>
	<h3>Average grade for <%= @course.title %>(<%= @course.semester.name %>) is: <%= @average.round(2) %></h3>
	
<% else %>
	<h1>Students in <%= @course.title %></h1>	
		<table class="table">
			<thead>
				<tr>
					<th class="header">First Name</th>
					<th class="header">Last Nauman</th>
					<th class="header">Student ID</th>
					<th class="header">Grade</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
						<tr>
							<td><%= student.first_name %></td>
							<td><%= student.last_name %></td>
							<td><%= student.id %></td>
							<td><%= @enrollment.grade %></td>
							<td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
<% end %>
<%= link_to 'Back', courses_path, class: "button" %>