<% if @user == current_user && @user.role == 'Administrator' %>
	<h3 class="header">Average grade for <%= @course.title + " " %>(<%= @course.semester.name %>) is: </h3>
	<h3 class="header"><%= @average.round(2) %></h3>
	
<% else %>
	<h2 class="header">Students in <%= @course.title %></h1>	
		<table class="table">
			<thead>
				<tr>
					<th class="header">Full Name</th>
					<th class="header">Student ID</th>
					<th class="header">Grade</th>
				</tr>
			</thead>
			<tbody>
				<% @students.each do |student| %>
					<% @enrollment = Enrollment.find_by(course_id: @course.id, student_id: student.id) %>
						<tr>
							<td><%= student.full_name %></td>
							<td><%= student.id %></td>
							<td><%= @enrollment.grade %></td>
							<td><%= link_to 'Edit', edit_enrollment_path(@enrollment) %></td>
						</tr>
				<% end %>
			</tbody>
		</table>
<% end %>

<div class="back-button">
	<%= link_to 'Back', courses_path, class: "button" %>
</div>